<section id="itemDetail">
    <div class="row">
        <div class="col-4">
            <img src="/assets/potterSve.jpg">


            <div class="row">
                <div class="col-8">
                    <h4>Seller</h4> <br>
                    {{itemDetails.sellItem.sellerObj.title}}
                    {{itemDetails.sellItem.sellerObj.rating}} stars
                </div>
            </div>

        </div>

        <div class="col-8">


            <h3>{{itemDetails.sellItem.sellProduct.title}}</h3> <br>
            <p>{{itemDetails.sellItem.sellProduct.otherTitle}}</p>

            <p *ngIf="itemDetails.sellItem.sellProduct.preOwned==0">
                <b>Brand New</b>
            </p>


            <div  *ngIf="itemDetails.sellItem.sellProduct.preOwned==1" class="alert alert-warning" role="alert">
                <b>Pre-Owned</b>
            </div>

            Items sold last two days:  {{itemDetails.soldLastDays}} <br>
            Stock: {{itemDetails.sellItem.quantity}} <br>
            Watching: {{itemDetails.watching}} <br>


            <div class="card cardPrice">
                <div class="card-header">
                    Net Price : {{itemDetails.userSeesPrice}} <b>{{itemDetails.userCurrencyCode}}</b>  Avg. shipping 45
                </div>
                <div class="card-body">


                    <div class="row">
                        <div class="col-3">

                            <button type="button" class="btn btn-primary">Add to card</button>

                        </div>

                        <div class="col-9">

                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Select shipping address</option>
                                    <option *ngFor="let sad of shippingAddressList" >{{sad.street}}
                                        {{sad.street_no}}  {{sad.code}} {{sad.region}} {{sad.city}} {{sad.country.title}} </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <br><br>
                    <button type="button" class="btn btnWatch btn-dark">Watch</button>


                </div>
                <div class="card-footer">
                    Offer expires at  {{itemDetails.showTo}}
                </div>
            </div>


            <div *ngIf="itemDetails.maybeShippingCountryForbidden"  class="alert alert-warning" role="alert" id="collapseNotShipping">
                Item DOES NOT ship to {{itemDetails.notShipTo}}
            </div>



            <p><b>Item Details</b></p>
            <table class="table table-bordered table-striped table-hover table-sm" id="tableFeatures">
                <thead>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let filtr of itemDetails.sellItem.sellProduct.filtersVals">
                    <td>{{filtr.filter.title}}</td>
                    <td>{{filtr.val}}</td>
                </tr>
                </tbody>
            </table>


            <h4>Shipping</h4> with {{itemDetails.sellItem.mailerCo}}
            <p>Shipping costs</p>

            // show only data for users shipping company
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Continent</th>
                    <th>Cost</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let con of itemDetails.sellItem.shipCosts">
                    <td>{{con.continentName}}</td>
                    <td>{{con.userSeesPrice}} {{itemDetails.userCurrencyCode}}</td>
                </tr>
                </tbody>
            </table>


            <div *ngIf="itemDetails.maybeShippingCostExceptions" class="alert alert-danger" role="alert">
                One of your shipping addresses is subject <b> to the below shipping costs!</b>
            </div>

            <table *ngIf="itemDetails.maybeShippingCostExceptions" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Country</th>
                    <th>Cost</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let conEx of itemDetails.sellItem.shipCostsExcept">
                    <td>{{conEx.countryName}}</td>
                    <td>{{conEx.userSeesPrice}} {{itemDetails.userCurrencyCode}}</td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>
</section>
