<div class="row">
    <div class="col-10">
        <div class="row">
            <div class="col-6">
                <b>Ship to</b> <br>
                {{shipTo.name}} {{shipTo.surname}} <br>
                {{shipTo.street}} {{shipTo.street_no}} <br>
                {{shipTo.region}} <br>
                {{shipTo.code}} <br>
                {{shipTo.city}} <br>
                {{shipTo.countryId}} <br>
            </div>


            <div class="col-6">
                <b>Bill to</b> <br>
                {{bilTo.name}} {{bilTo.surname}} <br>
                {{bilTo.street}} {{bilTo.street_no}} <br>
                {{bilTo.region}} <br>
                {{bilTo.code}} <br>
                {{bilTo.city}} <br>
                {{bilTo.countryId}} <br>
            </div>
        </div>
    </div>
</div>



<div *ngFor="let item of itemsList">
    <p>{{item}}</p>

</div>
