<article class="browseListItem">
    <div class="row">
        <div class="col-2">
            <img src="/assets/potterSve{{listItmObj.id}}.jpg" width="180">


        </div>

        <div class="col-8 browseListPrice">
            <h3>{{listItmObj.sellItem.sellProduct.title}}</h3> <br>
            <p>{{listItmObj.sellItem.sellProduct.otherTitle}}</p>

            Items sold last two days:  {{listItmObj.soldLastDays}} <br>
            Stock: {{listItmObj.sellItem.quantity}} <br>
            Watching: {{listItmObj.watching}} <br>


            Net Price : {{listItmObj.userSeesPrice}} <br>
            Offer expires at  {{listItmObj.showTo}}


        </div>
    </div>
</article>
